.header{
    background-color: rgb(0, 0, 0);
}
.resto{
    color:#f39c12;
   font-weight: bolder; 
   font-size: 40px;
   font-family: "Playwrite US Trad Guides", cursive;
}
.hero{
   background-image: url(hero-bg.jpg);
   backdrop-filter: blur(-10px);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 50px 1px ;
   color: white;
   margin-bottom: 100px;
}

.para{
    font-size: 20px;
    padding-top: 200px;
}
.para h1{
    font-weight: bold;
    font-size: 80px;
}
.vegis-spin{
    animation: spin 30s infinite;
}
@keyframes spin {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
.card{
    padding: 20px;
}
.card:hover{
    background-color: orange;  
    color: white !important; 
    transition: 1s;
}
.cardicon{
    font-size: 40px;
    color: orange;
    padding: 20px;
}
.firstContainer{
    background-color: #fcfcf6;
}
.About{
    margin-top: 100px;
}
.para1{
    font-family: "Parkinsans", serif;
}
.para1 p{
    font-size: 17px;
}
.para1 h2{
    color:black;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;  
}
.para1 h5{
    color: orange;
    font-weight: bold;
    font-size: 25px;
}
.spoon{
    color: orange;
}
.para2{
    border-left: 5px solid orange;
    font-size: 20px;   
}
.num{
    color: orange;
    font-weight: bold;
    font-size: 40px; 
}
.leftbar{
    margin-top: 100px;
    margin-left: 20px;

}
.food1{
   margin-bottom: 10px;
}
.food1 p{
    margin-bottom: 10px;
}

/* .span{
    color: orange;
    margin-left: 200px;
} */
.menuicon{
    color: orange;
    font-size: 35px;
}
.icon{
    background-color: #fcfcf6;
    padding: 15px;
}
.navtab1:hover{
    border-bottom: 3px solid orange;
}
.menu1{
    margin-top: 100px;
}
span{
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
/* .menu{
    margin-bottom: 30px;
} */
 .Reservation{
    margin-top: 100px;
    margin-bottom: 100px;
 }
.welcome{
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;  
}
.form{
    background-color: rgb(5, 5, 57);
    color: white;
    
}
.button:hover{
    background-color:rgb(188, 108, 4);
    color: black;
}
.resrvform h5{
    color: orange;
}
.members{
    text-align: center;
    margin-bottom: 20px;
}
.members h5{
    color: orange;
}
h1  {
    font-weight: bold;
    font-size: 40px;
}

.foot{
    background-color: rgb(8, 8, 32);
    color: white;
    padding: 30px;
}
li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
li{
    list-style: none;
}
.foot1 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot2 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot3 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot4 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot4{
    padding-right: 30px;
}
.foot1 li {
    line-height: 35px;
}
.foot2 li {
    line-height: 35px;
}
.foot3 li {
    line-height: 35px;
}
.foot4  {
    line-height: 35px;
}
.fas{
    color: orange;
    font-weight: bold;
}
.div:hover{
 background-color:orange;
 transition: 1s;
}
.team{
    color: orange;
    font-weight: bold;
}
.card2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.boxcard{
    transition: 1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px;
    
}
.readmore:hover{
   background-color: rgb(208, 123, 58);
}
.inputbutton{
    background-color: white;
    position:absolute;
    padding: 5px;
    margin-bottom: 20px !important;
    border: 3px solid orange;

    
}
.emailbutton{
    background-color: orange;
    border: none;
}
.emailbutton:hover{
    background-color: rgb(208, 123, 58);
}
input{
    border: none;
    width: 150px;
}
.socialicon{
    font-size: 25px;

}
.socialmedia{
    padding-left: 20px;
    background-color: rgb(8, 8, 32);
    color: white;
}

.company{
    font-family: "Playwrite US Trad Guides", cursive;
    font-weight: bold;
}

.brand{
    color: orange;
    font-size: 23px;
    padding: 3px;
}
.star{
    font-weight: bold;
    font-size: 20px;
}
.home:hover{
    color:orange !important;
    
}
a:active{
    color: orange !important;
}
.booking:hover{
    background-color: orange;
}
.home:hover{
    color:orange !important;
    
}
.home1:hover{
    color: #bcbcba !important;
}
.cardrow{
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .quote{
    color: orange;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
 }
 .div2{
    margin-left: 35px;
 }
 .client1:hover{
    background-color: orange;
 }
@media (max-width:575px){ 
    .vegis-spin{
        width: 70%;
       text-align: center;
    }
}
