.header{
    background-color: rgb(0, 0, 0);
    
}
.resto{
    color:#f39c12;
   font-weight: bolder; 
   font-size: 40px;
   font-family: "Playwrite US Trad Guides", cursive;
   
}
.home:hover{
    color:orange !important;
    
}
.hero{
    background-image: url(hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 1px ;
    color: white;
    margin-bottom: 100px;
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .welcome{
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;  
}


.firstContainer{
    background-color: #fcfcf6;
}
.About{
    margin-top: 100px;
}
.para1{
    font-family: "Parkinsans", serif;
}
.para1 p{
    font-size: 17px;
}
.para1 h2{
    color:black;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;  
}
.para1 h5{
    color: orange;
    font-weight: bold;
    font-size: 25px;
}
.spoon{
    color: orange;
}
.para2{
    border-left: 5px solid orange;
    font-size: 20px;   
}
.num{
    color: orange;
    font-weight: bold;
    font-size: 40px; 
}
.leftbar{
    margin-top: 100px;
    margin-left: 20px;

}
.team{
    color: orange;
    font-weight: bold;
}
.star{
    font-weight: bold;
    font-size: 20px;
}
.div:hover{
    background-color:orange;
    transition: 1s;
   height: 400px;
    
   }
   .card2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.links li a{
   text-decoration: none !important;
   color: orange !important;
   font-size: 20px;
}
.links li {
    text-decoration: none !important;
    color: white !important;
    font-size: 20px;
 }
.links{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero h1{
    font-weight: 700;
    font-size: 70px;
}
.card{
    padding: 20px;
}
.card:hover{
    background-color: orange;  
    color: white !important; 
    transition: 1s;
   
}
.spoon{
    color: orange;
}
.boxcard{
    transition: 1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px;
    
}
.readmore:hover{
   background-color: rgb(208, 123, 58);
}
.inputbutton{
    background-color: white;
    position:absolute;
    padding: 5px;
    margin-bottom: 20px !important;
    border: 3px solid orange;   
}
.foot{
    background-color: rgb(8, 8, 32);
    color: white;
    padding: 30px;
}
li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
li{
    list-style: none;
}
.foot1 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot2 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot3 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot4 h4{
    margin-bottom: 30px;
    color: orange;
}
.foot4{
    padding-right: 30px;
}
.foot1 li {
    line-height: 35px;
}
.foot2 li {
    line-height: 35px;
}
.foot3 li {
    line-height: 35px;
}
.foot4  {
    line-height: 35px;
}
.emailbutton{
    background-color: orange;
    border: none;
}
.emailbutton:hover{
    background-color: rgb(208, 123, 58);
}
input{
    border: none;
    width: 150px;
}
.socialicon{
    font-size: 25px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.socialmedia{
    padding-left: 20px;
    background-color: rgb(8, 8, 32);
    color: white;

}
.company{
    font-family: "Playwrite US Trad Guides", cursive;
    font-weight: bold;
}
.spoon{
    color: orange;
}
.card{
    padding: 20px;
}
.card:hover{
    background-color: orange;  
    color: white !important; 
    transition: 1s;
   
}


.cardicon{
    font-size: 40px;
    color: orange;
    padding: 20px;
}
.firstContainer{
    background-color: #fcfcf6;
}
.card-sction{
    margin-bottom: 100px;
}
.heading h5{
    color: orange;
    font-weight: bold;
}
.heading h1{
font-weight: 700;
font-size: 50px;
}
.booking:hover{
    background-color: orange;
}
.home:hover{
    color:rgb(152, 106, 22) !important;
    
}
.home1:hover{
    color: #bcbcba !important;
}
